{
  "formatOnSave": true,
  "formatOnPaste": true,
  "formatOnType": true,

  "printWidth": 160,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "semi": true,

  "arrowParens": "always",

  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine":"auto"
  
}
